{% extends 'master/base.html' %}
{% load static %}
{% load humanize %}
    {% block title %}Login | Online Upahar {% endblock %}

{% block body %}

<main class="containers" style="background-color: white;border: 1px solid white;">
 
  <!-- Left Column / Image -->
<div class="left-columns" style="margin: 55px 45px auto auto;">
  <div class="exzoom" id="exzoom">
    <!-- Images -->
      <div class="exzoom_img_box">
        <ul class='exzoom_img_ul'>
          {% for p in product_image %}
            <li><img src="{{p.product_image.url}}" alt=""></li>
          {% endfor %}  

            ...
        </ul>
      </div>
      <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
      <div class="exzoom_nav"></div>
      <!-- Nav Buttons -->
        <p class="exzoom_btn">
            <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
            <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
        </p>
  </div>
  
    
  </div>
 
 
  <!-- Right Column -->
  <div class="right-columns">
 
    <!-- Product Description -->
    <div class="product-descriptions">
      <span>{{details.category}}</span>
      <h1>{{details.product_name}}</h1>
      {% autoescape off %}
      <p>{{details.product_details}}</p>
      {% endautoescape %}
      <h1><span style="font-size: 30px;color: #F57224; font-weight: 600;">Rs. {{details.product_price}}</span></h1>
      <span class="fa fa-star checked" style="color:#FFCF00;"></span>
      <span class="fa fa-star checked" style="color:#FFCF00;"></span>
      <span class="fa fa-star checked" style="color:#FFCF00;"></span>
      <span class="fa fa-star" style="color:#FFCF00;"></span>
      <span class="fa fa-star" style="color:#FFCF00;"></span>
      <p>{{ review.count }} Reiview{{ review|pluralize }} | 0 Answered Question</p>
      <h5>Seller : {{details.seller_account.account_name}}</h5><br>
    </div>
<!--

<div class="product-configurations">
 

  <div class="product-colors">
    <span>Color</span>

    <div class="color-chooses">
      <div>
        <input data-image="red" type="radio" id="red" name="color" value="red" checked>
        <label for="red"><span></span></label>
      </div>
      <div>
        <input data-image="blue" type="radio" id="blue" name="color" value="blue">
        <label for="blue"><span></span></label>
      </div>
      <div>
        <input data-image="black" type="radio" id="black" name="color" value="black">
        <label for="black"><span></span></label>
      </div>
    </div>

  </div>


 <div class="cable-configs">
    <span>Cable configuration</span>

    <div class="cable-chooses">
      <button>Straight</button>
      <button>Coiled</button>
      <button>Long-coiled</button>
    </div>

    <a href="#">How to configurate your headphones</a>
  </div>
</div> -->

    
 
    <!-- Product Pricing -->
    <div class="product-prices">
      
      {% if user.is_authenticated %}
          <a href="{% url 'Products:add_to_cart' details.slug %}"  class="cart-btn" style="float: left;">Add to cart</a>
          <a href="{% url 'Products:buynow' details.slug %}"  class="cart-btn" style="float: right; background-color: #f57224;">Buy Now</a>
      {% else %}
           <a href="{% url 'Account:login' %}"  class="cart-btn" style="float: left;">Add to cart</a>
          <a href="{% url 'Account:login' %}"  class="cart-btn" style="float: right; background-color: #f57224;">Gift Now</a>
      {% endif %}
    </div>
  </div>
</main>

<div class="container" style="">
  <div id="content">

          <div class="row bar">
            <!-- LEFT COLUMN -->
            <div id="blog-post" class="col-md-9">

              <div id="comments">
                <h4 class="text-uppercase">Review{{ review|pluralize }}({{ review.count }})</h4>
                <div class="row comment last">
                  
                  <div class="col-sm-12 col-md-10">
                    {% for r in review %}
                    <h5 class="text-uppercase">{{r.user.account_name}}</h5>
                    <span class="fa fa-star checked" style="color:#FFCF00;"></span>
                    <span class="fa fa-star checked" style="color:#FFCF00;"></span>
                    <span class="fa fa-star checked" style="color:#FFCF00;"></span>
                    <span class="fa fa-star" style="color:#FFCF00;"></span>
                    <span class="fa fa-star" style="color:#FFCF00;"></span>
                    
                    <p class="posted"><i class="fa fa-clock-o"></i> {{r.get_date}}</p>
                    <p>{{r.message}}</p>
                    <!--<p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></p>-->
                    <hr>
                    {% endfor %}
                  </div>
                </div>
                
              </div>
              {% if user.is_authenticated %}
                <div id="comment-form">
                  <h4 class="text-uppercase">Leave a review</h4>
                  <form class="js-ajax-form"  method="POST">
                    <div class="row">
                      {% csrf_token %}
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="comment">Review <span class="required text-primary">*</span></label>
                          <textarea name = "message" id="comment" rows="4" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 text-right">
                        <button type= 'submit' class="btn btn-template-outlined"><i class="fa fa-comment-o"></i> Post a Review</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% endif %}
            </div>
            
          </div>

      </div>
    </div>


<script>
    $(document).ready(function() {
 
  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');
 
      $('.active').removeClass('active');
      $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
      $(this).addClass('active');
  });
 
});


$(function(){

        $("#exzoom").exzoom({
          "autoPlay" : false
        });

    });

</script>


{% endblock %}