{% extends 'master/base.html' %}
{% load static %}
    {% block title %}Register | Online Upahar {% endblock %}
{% block body %}
<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

            {% if messages %}
                {% for m in messages %}
                    <div class="alert {% if m.tags == 'success' %} alert-primary {% else %} alert-danger {% endif %}" style="text-align: center;">
                        {{m}}
                    </div>
                {% endfor %}
            {% endif %}

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register As a Seller. </h2>
                        <form method="POST" action="">
                            <div class="group-input">
                                {% csrf_token %}
                                <label for="username">Username or email address *</label>
                                <input type="email" name="email" id="username" required>
                            </div>
                            <div class="group-input">
                                <label for="pass">Account Name *</label>
                                <input type="text" name="account_name" id="pass"required>
                            </div>
                            <div class="group-input">
                                <label for="con-pass">Password *</label>
                                <input type="password" name="password" id="con-pass"required>
                            </div>
                            
                            <button type="submit" class="site-btn register-btn">REGISTER</button>
                        </form>
                        <div class="switch-login">
                            <a href="{% url 'SellerAccount:sellerlogin' %}" class="or-login">Or Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->
    
{% endblock %}