{% extends 'master/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
    {% block title %}Login | Online Upahar {% endblock %}
{% block body %}
<style>
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social:hover{
    color: #eee !important;
}
.btn-facebook {
    color: #fff !important; 
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook:hover {
        color: #eee !important;
    
}
</style>
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'Store:homepage' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->
    
    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <form method="POST" action="">
                            <div class="group-input">
                                {% csrf_token %}
                                <label for="username">Username or email address *</label>
                                <input type="text" name="email" id="username" {% if email %}value="{{email}}" {% endif %}>
                            </div>
                            <div class="group-input">
                                <label for="pass">Password *</label>
                                <input type="password" name="password" id="pass" {% if password %}value="{{password}}" {% endif %}>
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <input type="checkbox" id="check" name= 'check' style="width:15px; position:relative; bottom:12px;right:10px;">
                                    <label style="right: 25px;;">Save Password</label>
                                    <a href="{% url 'reset_password' %}" class="forget-pass">Forget your Password</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a href="{% url 'Account:register' %}" class="or-login">Or Create An Account</a><br>
                            <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-social btn-facebook">
                                <i class="fa fa-facebook fa-fw"></i> Or Sign in with Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->
    

   {% endblock %}