{% extends 'master/base.html' %}
{% load static %}
{% block title %}Terms & Conditions {% endblock %}

{% block body %}

  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bread-inner">
            <ul class="bread-list">
              <li><a href="{% url 'Store:homepage' %}">Home<i class="ti-arrow-right"></i></a></li>
              <li class="active"><a href="{% url 'Store:terms_condition' %}">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->


  <div id="content" style="font-family: sans-serif;">
        <div class="container">
          <section class="bar">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading">
                  {% autoescape off %}
                  <h2>{{content.title}}</h2>
                  {% endautoescape %}
                </div>
                <p class="lead">
                  {% autoescape off %}
                    {{content.body}}
                  {% endautoescape %}
                </p>



  

              </div>
            </div>
            
          </section>

        </div>
       
        
        
        
      </div>
      

  
  {% endblock %}
